* {
    font-family: monospace;
}

.cpp {
    background-color: #3f3f3f;
    color: #dcdccc;
    margin: auto auto;
    padding: 10px;
    width: 50%;
    min-width: 40em;
}

.cpp h1 {
    text-align: center;
}

.cpp p {
    border: 1px dashed;
    border-color: #770000;
    background-color: #3f3030;
    /* color: #dcdccc; */
}

.cpp p code {
    color: #fdce93;
}
