p {
    font-family: sans-serif;
}

img {
    color: #ff0000;
    font-size: 2em;
}

pre {
    color: #111111;
    background: #eeeefa;
    border: #466aee dashed 1px;
    padding: 4px;
}

.markdown {
    margin: auto auto;
    width: 50%;
    min-width: 40em;
}

.markdown h1 {
    text-align: center;
}

.markdown .figure {
    display: block;
    margin: auto;
}
