<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{ title }}
        </title>
        <link rel=stylesheet href={{ url_for('static', filename='md.css') }}/>
    </head>

    <body>
        <div class="markdown">
            {{ body }}
        </div>
    </body>
</html>

